html{
	height: 100%;
	text-align:left
}

.pag_propriedades{
	margin:0;
	background:#CCC;
	height: 100%;
	text-align:left
}

.cab_dashboard{
	background:url(/images/cab_dashboard.png) left repeat-x;
	height:76px;
}

.logo_cliente{
	background:url(/images/logo_cliente.png) left no-repeat;
	width:175px;
	height:76px;
	position:absolute;
	left:0;
	top:0	
}

.pag_principal{
	min-height: 100%;
	position: relative;
}

.rod_dashboard{
	background: url(/images/rod_dashboard.png) left repeat-x;
	height:16px;
	position: absolute;
	bottom: 0;
}

.label_dashboard{
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	color:#fff;
}

.label_dashboard_orig{
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000;
	margin-top:5px
}

.estilo_form{
	border-bottom:solid 1px #009ddc;
	border-left:solid 1px #009ddc;
	border-right:solid 1px #009ddc;
	border-top:solid 1px #009ddc; 
	
}

.tb_grafico{
	
	border-bottom:solid 0 #c6c6cb;
	border-left:solid 0 #c6c6cb;
	border-right:solid 1px #c6c6cb;
	border-top:solid 1px #c6c6cb; 

}

.td_cab_tb_grafico{
	border-bottom:solid 1px #c6c6cb;
	border-left:solid 1px #c6c6cb;
	border-right:solid 0 #c6c6cb;
	border-top:solid 0 #c6c6cb;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000;
	font-weight:bold;
	padding-top:1px;
	padding-bottom:3px;
	background-image:url(/images/fd_cab_tb_grafico.png);
	background-position:left;
	background-repeat:repeat-x;
	height:17px
}

.td_cont_tb_grafico{
	border-bottom:solid 1px #c6c6cb;
	border-left:solid 1px #c6c6cb;
	border-right:solid 0 #c6c6cb;
	border-top:solid 0 #c6c6cb;
	background-color:#fff;
	text-align:right;
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	color:#1b1c24;
	padding-top:1px;
	padding-bottom:3px;
}

.label_dashboard_historico {
    color: #675024;
    display: inline-block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    margin: 2px;
}

.container_filtro{
background: -moz-linear-gradient(center top , #DDDDDD, #F9F9F9) repeat scroll 0 0 transparent;
border-color: #675024;
border-style: solid;
border-width: 1px;
text-align: left;
width: 263px;

}