.MainFrame { 
	width:800px; 
}

.MainFrameAtende { 
	width:759px; 
}

.MainFrame_595 { 
	width 595px; 
}

.Section { 
	margin-top:2px;
	position:relative;
}

.Section1 { 
	margin-top: 8px;
}

.SectionTitle { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	background-color: #DDDDDD; 
	padding-left: 4px;
}

.TitulosCinza { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	color: #2c4f0b;	
	padding-left: 4px;
}

label {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b; 
}

.labelPreto {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #000000; 
}

.tds {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left:2px;
	padding-right:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.tdsDocumentos {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left:2px;
	padding-right:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:left; 	
}

.teste {
}

.selectJuridico {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666;
	width:100px 	
}

.selectCentralDocs {
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666;
	width:320px 	
}



input{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	margin-left: 2px; 
	margin-right: 2px; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
}

input.checkbox{
   background: transparent;
   border: 0px;
}

input.radio{
   background: transparent;
   border: 0px;
}

/*Propriedades Selects área de Resposta - Motivo e Envio*/

select.motivo { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:270px;
}	

select.enviar { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:223px;
}	

select { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:140px;
}

select.pEmpresario { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:120px;
}

select.pEmpresario1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:100px;
}

fieldset { 
	border-style: solid; 
	border-left: none; 
	border-right: none; 
	border-top: none; 
	border-bottom-color: #DDDDDD; 
	border-bottom-width: 1px; 
	padding-left: 0px; 
	padding-right: 0px; 
	padding-top:2px; 
	padding-bottom:2px;
}

.tabelas {
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
}

.tabela_endereco {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	padding-top:2px;
}

.tabelas_aceite {
	border-right:solid 1px #2c4f0b;
}

.cabecalho_tds {
	border-left:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
}

.required{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	margin-left: 2px; 
	margin-right: 2px; 
	border: #FF0000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
}
	
.sem_borda{
   background: transparent;
   border: 0px;
}

.scroll_analiseCredito{
	overflow:auto; 
	height:35px;
	width:795px;
	border-top:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
}

.scroll_juridico{
	overflow:auto; 
	height:46px;
	width:795px;
	border-top:solid 1px #2c4f0b;
	
}

.cabecalho_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #999999;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
}

.botoesAcredito{
	width:150px;
	height:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
}

.botoesAcredito1{
	margin-bottom:3px;
	margin-left:3px;
	margin-right:3px;
	margin-top:3px;	
	border-top:solid 1px #c7d5ba;
	border-right:solid 1px #c7d5ba;
	border-bottom:solid 1px #c7d5ba;
	border-left:solid 1px #c7d5ba;
	cursor: pointer;

}	

.cabecalho_tabelas {
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
}

.cabecalho_tabelas1 {
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
}

.scroll_analiseCreditoLateral{
	overflow:auto; 
	height:297px;
	width:659px;
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	margin-top:3px;	
	text-align:center;
}

.scroll_analiseOrgao{
	overflow:auto; 
	height:200px;
	width:627px;
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	margin-top:3px;
	padding-top:8px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}		

.cabecalho_compradoresAcredito_vermelho{
	height:18px;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#ffd9da;
}

.cabecalho_compradoresAcredito_vermelho1{
	height:18px;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #2c4f0b;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#FFFFFF;
}

.ltlr_compradoresAcredito_vermelho{
	height:auto;
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#ffd9da;
}

.ltlr_compradoresAcredito_verde{	
	height:auto;
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #07b203;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#daf4d9;
}

.ltlr_cadastro_vermelho{
	height:auto;
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;	
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
	text-align:left;
	padding-top:1px;
	padding-left:2px;
	padding-right:2px;
	background-color:#ffd9da;
}
.ltlr_cadastro_vermelho_font{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
}

.ltlr_cadastro_verde{
	height:auto;
	border-left:solid 1px #CCCCCC;	
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #07b203;
	text-align:left;
	padding-top:1px;
	padding-left:2px;
	padding-right:2px;
	background-color:#daf4d9;
}
.ltlr_cadastro_verde_font{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #07b203;
}
.cabecalho_compradoresAcredito_verde{
	height:18px;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #07b203;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#daf4d9;
}

.cabecalho_compradoresAcredito_amarelo{
	height:18px;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #e3ab00;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#fffed9;
}

.cabecalho_compradoresAcredito_cinza{
	height:18px;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #333333;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#dddddd;
}
	
.linha1_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #666666; 
	padding-left:0px;
	padding-right:0px;
	background-color:#edf1e9;
}

.linha1a_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #666666;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#edf1e9;
}

.linha1b_compradoresAcredito{
	height:18px;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #666666;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#edf1e9;
}

.linha2_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #2c4f0b;
	padding-left:0px;
	padding-right:0px;
	background-color:#e7e9f0;
}

.linha2a_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #999999;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#e7e9f0;
}

.linha2b_compradoresAcredito{
	height:18px;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #999999;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#e7e9f0;
}

.linha3_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #2c4f0b;
	padding-left:0px;
	padding-right:0px;
	background-color:#f5f6f9;
}

.linha3a_compradoresAcredito{
	height:18px;
	border-right:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #999999;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#f5f6f9;
}

.linha3b_compradoresAcredito{
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #999999;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#f5f6f9;
}
.tabela_compradoresAcredito{
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
}
	
.tabela1_compradoresAcredito{
	border-left:solid 1px #2c4f0b;
	background-color:#c7d5ba;
	padding-left:0px;
	padding-right:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center; 
}

.tabela2_compradoresAcredito{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
}

.totais_tds {
	border-left:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	background-color:#e6ece0;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center; 
	
}

.botoesAcredito_vermelho1{
	/*margin-bottom:3px;
	margin-top:3px;	*/
	margin-left:3px;
	margin-right:3px;
	
	border-top:solid 1px #ff0004;
	border-right:solid 1px #ff0004;
	border-bottom:solid 1px #ff0004;
	border-left:solid 1px #ff0004;
	cursor: pointer;
}	

.botoesAcredito_vermelho{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #ff0004;
	font-weight:bold;
	text-align:center;
	background-color:#ffd9da;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
}
.botoesAcredito_verde1{
	/*margin-bottom:3px;
	margin-top:3px;	*/
	margin-left:3px;
	margin-right:3px;
	
	border-top:solid 1px #07b203;
	border-right:solid 1px #07b203;
	border-bottom:solid 1px #07b203;
	border-left:solid 1px #07b203;
	cursor: pointer;
}	

.botoesAcredito_verde{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #07b203;
	font-weight:bold;
	text-align:center;
	background-color:#daf4d9;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
}

.botoesAcredito_amarelo1{
	/*margin-bottom:3px;
	margin-top:3px;	*/
	margin-left:3px;
	margin-right:3px;
	
	border-top:solid 1px #e3ab00;
	border-right:solid 1px #e3ab00;
	border-bottom:solid 1px #e3ab00;
	border-left:solid 1px #e3ab00;
	cursor: pointer;
}	

.botoesAcredito_amarelo{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #e3ab00;
	font-weight:bold;
	text-align:center;
	background-color:#fffed9;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
}

.botoesAcredito_cinza1{
	/*margin-bottom:3px;
	margin-top:3px;	*/
	margin-left:3px;
	margin-right:3px;
	
	border-top:solid 1px #999999;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	border-left:solid 1px #999999;
	
}	

.botoesAcredito_cinza{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #999999;
	font-weight:bold;
	text-align:center;
	background-color:#dddddd;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
	
}

.botoesAcredito_preto1{
	/*margin-bottom:3px;
	margin-top:3px;	*/
	margin-left:3px;
	margin-right:3px;
	
	border-top:solid 1px #000000;
	border-right:solid 1px #000000;
	border-bottom:solid 1px #000000;
	border-left:solid 1px #000000;
	
}	

.botoesAcredito_preto{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#000000;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
	
}

.botoesAcredito_azul1{
	margin-bottom:3px;
	margin-left:3px;
	margin-right:3px;
	margin-top:3px;	
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	
}	

.botoesAcredito_azul{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
	cursor: pointer;
}

.linha_5px {
background-color:#DDDDDD;
height:5px;
}

.label_contrato {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #2c4f0b;
	padding-left:2px;
	padding-right:2px;
	
}

.label_contrato {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #2c4f0b; 
	
}

.label_cliente {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #2c4f0b; 
	margin-left: 2px; 
	margin-right: 2px;
}

.label_cliente_campos {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #999999; 
	margin-left: 2px; 
	margin-right: 2px;
}

.label_resumo {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
	color: #999999;
	padding-left:2px;
	padding-right:2px;
	}
	
.labelPerfilFundoBorda {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
	color: #999999;
	padding-left:2px;
	padding-right:2px;
	border-bottom:solid 1px #EEEEEE;
	background-color:#FFFFFF;
}
.labelPerfilFundo {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
	color: #999999;
	padding-left:2px;
	padding-right:2px;
	background-color:#FFFFFF;

}
	
.labelPerfil {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #999999;
	background-color:#EEEEEE;
	
}

.label_resumo_LR {	
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:bold;	
	color: #2c4f0b; 
	
}

.label_cliente_campos1 {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b; 
	margin-left: 2px; 
	margin-right: 2px;
}


input{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	margin-left: 2px; 
	margin-right: 2px; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
}

input.checkbox{
   background: transparent;
   border: 0px;
}

input.radio{
   background: transparent;
   border: 0px;
}

.textarea_cliente{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; color: #999999; 
	margin-left: 2px; 
	margin-right: 2px; 
	margin-top: 2px; 
	margin-bottom: 2px;
	padding-left:2px;
	padding-bottom:2px;
	padding-top:2px; 
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	overflow:auto;
	width:622px;
	height:35px;
	
  }
  
  .textarea_obsJuridico{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	margin-left: 2px; 
	margin-right: 2px; 
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	overflow:hidden;
	width:792px;
	height:30px;
	
  }
  

.fieldset_cliente { 
	border-style:	dotted; 
	border-left: none; 
	border-right: none; 
	border-top: none; 
	border-bottom-color: #CCCCCC; 
	border-bottom-width: 1px; 
	padding-left: 0px; 
	padding-right: 0px; 
	padding-top:2px; 
	padding-bottom:2px;
}

.titulos_tabela_cliente {
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	background-color:#DDDDDD;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #999999;
	text-align:center; 
}
.tabela_cliente00 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
}

.tabela_cliente01 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}

.tabela_cliente02 {
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
}

.tabela_cliente03a {
	border-bottom:solid 1px #CCCCCC;
	background-color:#EEEEEE;
	border-left:solid 1px #CCCCCC;

}

.tabela_cliente03b {
	border-left:solid 1px #CCCCCC;

}

.tabela_cliente03 {
	border-bottom:solid 1px #CCCCCC;
	background-color:#EEEEEE;
	
}

.tabela_cliente04 {
	border-right:solid 1px #CCCCCC;
}

.tabela_resumo00 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;
	background-color:#EEEEEE;
}

.tabela_resumo01 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;
	background-color:#EEEEEE;

}

.tabela_resumo02 {
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;

}

.tabela_resumo03 {
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;

}

.tabela_resumo04 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;
	background-color:#DDDDDD;
}

.tabela_resumo05 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;
	background-color:#DDDDDD;

}

.tabela_resumo06 {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding-bottom:2px;
	padding-top:2px;
	background-color:#FFFFFF;

}

.tabela_perfil {
	border-right:solid 1px #CCCCCC;
}

.tabela_perfil01 {
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;

	background-color:#EEEEEE;

}

.tabelas {
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
}

.sem_borda{
   background: transparent;
   border: 0px;
}

.botoesAcredito_azul1{
	margin-bottom:3px;
	margin-left:3px;
	margin-right:3px;
	margin-top:3px;	
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	
}	

.botoesAcredito_azul{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;	
	cursor: pointer;
}

.linha_5px {
background-color:#DDDDDD;
height:5px;
}

.cruzamento {
	background-color:#FFCC00;
	border-top:solid 2px  #FFCC00;
	border-right:solid 2px #FFCC00;
	border-bottom:solid 2px #FFCC00;
	border-left:solid 2px #FFCC00;
	
}
.boxAlertaAleatorio {
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
	text-align:center;
	width:17px;
	height:17px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	}
	
.button {
	cursor: pointer;
}

.observacoesAnteriores {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; color: #999999; 
	padding-left:2px;
	padding-bottom:2px;
	padding-top:2px;
	padding-right:2px; 
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	overflow:visible;
	width:622px;
	height:auto;
	}
	
.scrollFluxoAmortizacao{
	overflow:auto; 
	height:87px;
	width:768px;	
}

.scrollPlanoEmpresario{
	overflow:auto; 
	height:60px;
	width:796px;	
}

.scrollPlanoEmpresario1{
	overflow:auto; 
	height:70px;
	width:797px;	
}


.dadosPagamento {
	padding-left:4px;
	padding-bottom:2px;
	padding-top:2px;
	padding-right:2px; 
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	}
	
	.dadosForma {
	padding-left:2px;
	padding-bottom:2px;
	padding-top:2px;
	padding-right:2px; 
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	}
	
	.tdsTotal {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333;
	text-align:center;
	background-color:#ffe9bf;	
	
	
}


	.tdsTotal1 {
	
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333;
	text-align:center;
	background-color:#D5DFCB;	
	
	
}
.tdsTotalPe {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-left:2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333;
	background:#eeeff4;
	
	}
	
.ltlr_cadastro_neutro{
	height:auto;
	border-left:solid 1px #CCCCCC;	
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #2c4f0b;
	text-align:left;
	padding-top:1px;
	padding-left:2px;
	padding-right:2px;	
}
.ltlr_cadastro_azul_font{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #2c4f0b;
}
.ltlr_cadastro_cinza_font{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #666666;
}

.labelClienteAmortizacao {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #999999; 
	margin-left: 2px; 
	margin-right: 2px;
	padding-bottom:1px;
	padding-top:1px;
	padding-left:2px;
	padding-right:2px;
	border-left:solid 1px #999999;	
	border-top:solid 1px #999999;	
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	
}

.inputDisabled {
	background:#EEEEEE;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #999999;
	padding-left:2px;
	padding-right:2px;
	}
	
.scrollProcedimento {
	width:522px; 
	height:106px; 
	overflow:auto; 
	background-color:#FFFFFF; 
	padding-bottom:2px; 
	padding-left:2px; 
	padding-right:2px; 
	padding-top:2px; 
	text-align:left;
}

iframe {
	border-top:solid 1px #2c4f0b; 
	border-right:solid 1px #2c4f0b; 
	border-bottom:solid 1px #2c4f0b; 
	border-left:solid 1px #2c4f0b; 
	margin-top:3px;
}

.botaoAzulBorda{
	border-top:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	margin-bottom:2px;
	
	
}	

.botaoAzul{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
	cursor: pointer;
}

.botaoAzulDesabilitado{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
	cursor:default;
}

.botaoAzulResumo{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
	cursor: pointer;
}

.editarClick {
	color: #2c4f0b;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	cursor: pointer;
}

.botaoAzulMenu{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#2c4f0b;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
	cursor: pointer;
}	

.selectContratos { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:250px;
}

.alinhaDireita {
	text-align:right;
	padding-right:2px;	
	
}

.selectUf { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin-left: 2px; 
	margin-right: 2px; 
	font-size:10px; 
	color: #000000; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:60px;
}		

.scrollCentralDocs{
	overflow:auto; 
	height:62px;
	width:800px;
}

.tdsCentralDocs {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.divCentralDocAnalise {
		background-color:#c7d5ba;
		border: #2c4f0b;
		border-style: solid; 
		border-bottom-width:1px; 
		padding-left:2px;
		padding-bottom:2px;
		border-left-width:0px; 
		border-right-width:0px; 
		border-top-width:0px;
		padding-top:2px;
}

.divCentralDocAnalise1 {
		padding-left:2px;
		padding-bottom:2px;	
		padding-top:2px;
}

.divCentralDocAnaliseTds {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	
}

.scrollCentralDocsAnalise{
	overflow:auto; 
	height:280px;
	width:423px;
}

.centralDocAreaSite {
	border: #2c4f0b;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	widows:800px;
	height:400px;

}

.botaoImagens {
	cursor:pointer;
	}
	
.tds1 {
	border-right: solid 1px #2c4f0b;
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}
.scrollAvaliacao{
	overflow:auto; 
	height:78px;
	width:795px;
}

.scrollFase{
	overflow:auto; 
	height:37px;
	width:797px;	
	border-bottom:solid 1px #2c4f0b;
}

.inputFile{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	margin-left: 2px; 
	margin-right: 2px; 
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	width:200px;
}

.lb-fieldError {
	background-color: #FFCFB9;
}

.lb-fieldRequired { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;
	background-color:#fff7bf;
}

.scrollImagensAvaliacao{
	overflow:auto; 
	height:169px;
	width:780px;
}

.tabelaImagensImovel {
	border: #c7d5ba;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
}

.laudoImpressao1 {	
	border: #000000;
	border-bottom-width: 1px;
	border-bottom-style:solid ;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #FFF;
	padding-left:4px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	background-color:#666;
	
	
}


.laudoImpressao {	
	border: #000000;
	border-bottom-width: 1px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	
	
}

.horaLocal {	
	border: #000000;
	border-bottom-width: 1px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	
	
}
	

.laudoImpressaoTexto {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight:bold; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	
}

.valoresFinanciamento {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight:bold; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	border: #000000;
	border-style: solid; 
	border-top-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 	
	
}

.valoresFinanciamento1 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight:bold; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	border: #000000;
	border-style: solid; 
	border-top-width: 0px; 
	border-bottom-width: 1px; 	
	border-right-width: 1px; 	
	border-left-width: 0px; 
	
}


.dadosLocal {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;	 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	
}

.horaLocalInformacoes {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight:bold; 
	color: #000000;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:2px;
	
}

.laudoBox {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	background:url(/images/fundoQg.gif);
	background-position:top;
	background-repeat:repeat-x;		
}

.propostaFinanciamento {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	background:url(/images/fundoQg.gif);
	background-position:top;
	background-repeat:repeat-x;	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
		
}

.propostaFinanciamento1 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	background:url(/images/fundoQg.gif);
	background-position:top;
	background-repeat:repeat-x;		
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;	
}

.laudoBox4 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 0px; 
	border-top-width: 0px;		
}

.laudoBox5 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 0px; 
	border-top-width: 0px;		
}

.laudoBox6 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 0px;		
}

.laudoBox2 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 0px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
}

.laudoBox3 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
}

.laudoDocs {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px;	
	border-bottom-width: 1px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	
}

.laudoBox1 {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
	background:url(/images/fundoQg.gif);
	background-position:top;
	background-repeat:repeat-x;		
}

.propostaCredito {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 15px;
	font-weight:bold;
	color: #000000;
	text-align:center;	
}

.dataBordero {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 17px;
	font-weight:bold;
	color: #000000;
	text-align:center;	
}

.scrollLaudoAvaliacao{
	overflow:auto; 
	height:127px;
	width:796px;
}

.tdDeletar {
	background-color:#c7d5ba;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	}
	
.aceiteAssinaturaBox {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px;	
}

.aceiteAssinaturaLinha {
	border: #000000;
	border-top-style:solid;
	border-top-width: 2px;	
}


.botaoSelecao  {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b; 
	cursor:pointer;
	width:100px;
	
	}
	
span.botaoSelecao:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #FF9900;
	cursor:pointer;
	width:100px;
	}
	
.botaoEditar {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b; 
	cursor:pointer;
	width:37px;
	
	}
	
span.botaoEditar:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #FF9900;
	cursor:pointer;
	width:37px;
	}
	
.botaoContinuar {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b; 
	cursor:pointer;
	width:65px;
	
	}
	
span.botaoContinuar:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #FF9900;
	cursor:pointer;
	width:65px;
	}
	
.scrollConsultaDocRelacao{
	overflow:auto; 
	height:350px;
	width:797px;
	border: #2c4f0b;
	border-bottom-width: 1px;
	border-bottom-style:solid;
}

.compradoresCentralDoc{
	border-left:solid 1px #2c4f0b;
	padding-bottom:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	border-bottom:solid 1px #2c4f0b;
	padding-right:2px;
}

.compradoresCentralDoc1{
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	padding-bottom:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	border-bottom:solid 1px #2c4f0b;
}

.aprovado {

	height:auto;
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #07b203;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#daf4d9;

}

.reprovado {

	height:auto;
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ff0004;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#ffd9da;

}

.preaprovado {

	height:auto;
	border-top:solid 1px #CCCCCC;	
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #e48b00;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	background-color:#fae8cc;

}

.tdsIndexacao {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left:2px;
	padding-right:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.dataGridPlanoEmp {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666; 	
}

.dataGridPlanoEmp1 {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666; 	
}

.cabecalhoDocConsulta {
	border-left:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
}

.tituloComprador { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #2c4f0b; 
	background-color: #D5DFCB; 
	padding-left: 4px;
	border-top:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
}

.tituloVendedor { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #2c4f0b; 
	background-color: #E2E9DB; 
	padding-left: 4px;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-top:solid 1px #2c4f0b;
}

.tituloImovel { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #2c4f0b; 
	background-color: #F1F4EE; 
	padding-left: 4px;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-top:solid 1px #2c4f0b;
}
.botaoAdicionarDoc { 
	
	
	padding-bottom:2px;
	padding-top:2px; 
	
	
}

.textoTelefonesAvaliacao {

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.textoVermelho {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;	
	color: #d70a00;

		
}

.codigo_de_barras {
	border-bottom: solid 1px #d70a00;
	border-left:solid 1px #d70a00;
	padding-left:1px;
	padding-right:1px;
	padding-bottom: 4px;
	padding-top:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 15px;
	font-weight:bold;
	color: #d70a00;
	text-align:center;
		
}
.tabelasVermelho {
	border-top:solid 1px #d70a00;
	border-right:solid 1px #d70a00;
}

.botaoVermelhoBorda{
	border-top:solid 1px #d70a00;
	border-right:solid 1px #d70a00;
	border-bottom:solid 1px #d70a00;
	border-left:solid 1px #d70a00;
	margin-bottom:2px;
	
}

.botaoVermelho{
	width:auto;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color:#d70a00;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;	
	cursor: pointer;
}

.scrollDadosContasBcos{
	overflow:auto; 
	height:81px;
	width:796px;	
}

.textoVermelhoValorTotal {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;	
	color: #d70a00;

		
}

.tabelaAtendimento {
	
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	

}

.scrollAtendimento{
	overflow:auto; 
	height:400px;
	width:788px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	
	
}

.fonteCinza {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	padding-left:2px;
	padding-right:2px;

}

.scrollCockPitCliente{
	overflow:auto; 
	height:100px;
	width:796px;	
}

.scrollCockPitProc{
	overflow:auto; 
	height:50px;
	width:398px;	
}

.selectPosicao {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666;
	width:200px 	
}

.cabecalhoPosicao {
	border-left:solid 1px #2c4f0b;	
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;	
}
.cabecalhoPosicao1 {
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;	
}

.cabecalhoPosicao2 {
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;	
}
.cabecalhoPosicao3 {	
	padding-bottom:2px;
	border-bottom:solid 1px #2c4f0b;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;	
}

.scrollCockPitGeral{
	overflow:auto; 
	height:100px;
	width:796px;	
}

.scrollHistorico{
	overflow:auto; 
	height:100px;
	width:758px;
	
}

.scrollHistorico1{
	overflow:auto; 
	height:100px;
	width:384px;
	
}

.scrollFinanciado{
	overflow:auto; 
	height:100px;
	width:758px;
	
}

.textoProcCock {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;	
}

.cabecalhoCock {
	border-left:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
}

.scrollFluxoAmortizacao1{
	overflow:auto; 
	height:87px;
	width:759px;	
}

.cabecalhoCock1 {
	border-left:solid 1px #2c4f0b;
	
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
}

.dataGridPlanoEmp2 {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666; 
	background-color:#c7d5ba;	
}

.tdsSituacao {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.tdsSituacao0 {
	border-bottom: solid 1px #2c4f0b;	
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.tdsSituacao1 {
	border-bottom: solid 1px #2c4f0b;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	text-align:center; 	
}

.cabecalhoSituacao {
	border-left:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;	
}

.cabecalhoSituacao0 {
	border-left:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
	padding-bottom:2px;
	background-color:#c7d5ba;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #2c4f0b;
	text-align:center;	
}

.scrollSituacao{
	overflow:auto; 
	height:229px;
	width:795px;
	border-left:solid 1px #2c4f0b;
	border-right:solid 1px #2c4f0b;
	border-bottom:solid 1px #2c4f0b;
}

.linhaTracejada {
background:url(/images/linhaTracejada.gif);
	
	height:20px;
}

.comproClinetne {	
	border-left:solid 1px #000000;
	border-right:solid 1px #000000;
	border-top:solid 1px #000000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left:4px;
	padding-right:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
	text-align: justify;
}

.comproClinetne1 {
	border-bottom: solid 1px #000000;
	border-left:solid 1px #000000;
	border-right:solid 1px #000000;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left:4px;
	padding-right:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
	text-align: justify;
}

.reciboTexto {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	color: #000000;
	text-align: justify;

}

.reciboTexto1 {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	color: #000000;
	text-align: right;

}

.reciboTitulo {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	color: #000000;
	text-align: center;
}

.reciboBanco {	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	color: #000000;
	text-align: justify;
	padding-bottom:2px;
	padding-top:2px;	

}

.linhaCabecrecibo {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	border-right-width:0px; 
	border-top-width: 0px;	
}

.linhaRodarecibo {
	border: #000000;
	border-style: solid; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	border-right-width:0px; 
	border-top-width: 1px;	
}

.reciboRodape{	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
	text-align: center;
	padding-bottom:2px;
	padding-top:2px;	

}

.reciboData{	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: right;

}

.logo_proposta{
	background-image: url(/images/logo_proposta.png);
	background-position:top;
	background-repeat:no-repeat;
	width:200px;
	height:70px;
}