/* THUMB VERTICAL */

.fundoThumb
	{
		height:168px; 
		background-color: #d5d6d4;
		border:none; 
	}
	
.fundoThumbTitulo
	{
		height:19px; 
		margin-left:5px; 
		margin-right:4px; 
		background-image:url(/images/fundoTituloThumb.png); 
		background-position: left;
		background-repeat: repeat-x;
		border: #5C5C5C; 
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px;
	}
	
.fundoThumbTitulo2telas
	{
		height:19px; 
		margin-left:0px; 
		margin-right:0px; 
		background-image:url(/images/fundoTituloThumb.gif); 
		background-position: left;
		background-repeat: repeat-x;
		border: #5C5C5C; 
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px;
	}
	
.textoThumbTitulo
	{
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		color: #5C5C5C; 
	}
	
.navegacaoThumbEsqueda
	{
		width:11px; 
		height:116px; 
		margin-left:5px; 
		margin-right:2px; 
		float:left; 
		background-image:url(/images/navegaEsquerdaThumb.png); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.navegacaoThumbEsqueda:hover
	{
		width:11px; 
		height:116px; 
		margin-left:5px; 
		margin-right:2px; 
		float:left; 
		background-image:url(/images/navegaEsquerdaThumbHover.png); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.navegacaoThumbDireita
	{
		width:11px; 
		height:116px; 
		background-color:#5C5C5C; 
		margin-left:2px; 
		float:left; 
		background-image:url(/images/navegaDireitaThumb.png); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}	
	
.navegacaoThumbDireita:hover
	{
		width:11px; 
		height:116px; 
		background-color:#5C5C5C; 
		margin-left:2px; 
		float:left; 
		background-image:url(/images/navegaDireitaThumbHover.png); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}	
	
.fundoThumbConteudo
	{
		height:116px; 
		background-color: #d5d6d4; 
		float:left; 
		position:relative;
	}
	
.listaThumb
	{
	list-style-image:none; 
	list-style-position: outside; 
	list-style-type:none;
	}
	
.areaImagem
	{
		width:78px; 
		height:78px; 
		background-color:#FFF; 
		background-position:center; 
		background-repeat:no-repeat;	
		border: #5C5C5C; 
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; border-right-width: 1px; 
		border-top-width: 1px;
		cursor:pointer;
	}

.thumbCheck
	{
		width:80px; 
		height:32px; 
		background-image:url(/images/fundoNumeracao.png); 
		background-position:top; 
		background-repeat:no-repeat;
	}

.numeracaoImages
	{
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		margin-left:4px;
	}
	
.botaoExcluirCheck
	{
		margin-top:4px; 
		margin-right:4px; 
		cursor:pointer;
		float:right;
	}
	
.rodapeThumb
	{
		height:19px; 
		margin-left:5px; 
		width:385px;
		background-image:url(/images/fundoTituloThumb.png); 
		background-position:left; 
		background-repeat: repeat-x;
		border: #5C5C5C; 
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px;
		clear:left;
	}

.blocoImagensNumeracao
	{
		width:50px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:right; 
		margin-right:2px;
		margin-top:2px;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		text-align:center;
		cursor:pointer;
	}
	
		.blocoImagens_separador
	{
		width:10px; 
		height:13px; 
		border: #003399;
		border-style: solid; 
		border-bottom-width: 0; 
		border-left-width: 0; 
		border-right-width: 0; 
		border-top-width: 0; 
		float:right; 
		margin-right:2px;
		margin-top:0;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #666; 
		text-align:center;
		cursor:pointer;
		display:none
		
	}
	
.blocoImagensNumeracao:hover
	{
		width:50px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:right; 
		margin-right:2px; 
		margin-top:2px;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #000; 
		text-align:center;
		cursor:pointer;
		background-image:url(/images/fundoNumeracaobloco.png);
		background-position:center;
		background-repeat:no-repeat;
	}
	
.blocoImagensImprimir
	{
		width:136px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:right; 
		margin-right:2px;
		margin-top:0px;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		text-align:center;
		cursor:pointer;
	}
	
.blocoImagensImprimir:hover
	{
		width:136px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:right; 
		margin-right:2px; 
		margin-top:0px;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #FFF; 
		text-align:center;
		cursor:pointer;
		background-image:url(/images/fundoNumeracaobloco.gif);
		background-position:center;
		background-repeat: repeat-x;
	}
	
.blocoImagensNumeracaoText
	{
		width:18px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:left; 
		margin-left:2px;
		margin-top:2px;
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		text-align:center;
		
	}
	
/* BLOCO VERTICAL */

.blocoImagensNumeracaoVertical
	{
		width:80px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 		
		margin-right:2px;
		margin-left:2px; 
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		text-align:center;
		cursor:pointer;
	}
	
.blocoImagensNumeracaoVertical:hover
	{
		width:80px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 		
		margin-right:2px;
		margin-left:2px; 
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #f20300; 
		text-align:center;
		cursor:pointer;
	}
	
.thumbSemCheck
	{
		width:80px; 
		height:14px; 
		background-image:url(/images/fundoNumeracao.gif); 
		background-position:top; 
		background-repeat:no-repeat;
	}

.fundoThumbConteudoVertical
	{
		width:86px;
		height:500px;
		margin-left:3px;
		margin-right:2px;
		
		
		
	}
	
.navegacaoThumbBottom
	{
		width:86px; 
		height:11px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/navegaBottomThumb.gif);
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
		position:absolute;
		z-index:2;
		bottom:4px;		
	}
	
.navegacaoThumbBottom:hover
	{
		width:86px; 
		height:11px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image:url(/images/navegaBottomThumbHover.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.navegacaoThumbTop
	{
		width:86px; 
		height:11px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image:url(/images/navegaTopThumb.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.navegacaoThumbTop:hover
	{
		width:86px; 
		height:11px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image:url(/images/navegaTopThumbHover.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.fundoThumbVertical
	{
		width:92px; 
		height:700px; 
		background-image:url(/images/fundoThumbVertical.png);
		background-position:top; 
		background-repeat: repeat-y;
		position: absolute;
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 0; 
		border-right-width: 0; 
		border-top-width: 1px; 
		
		
	}
	
	
.navegacaoPrimeiraPaginacao
	{
		width:86px; 
		height:19px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/fundoNumeracaoblocoVertical.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.navegacaoPrimeiraPag
	{
		width:86px; 
		height:19px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/fundoNumeracaoblocoVertical.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	

	
.navegacaoPrimeiraPag:hover
	{
		width:86px; 
		height:19px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/fundoNumeracaoblocoVerticalHover.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
.blocoImagensNumeracaoPag
	{
		width:18px; 
		height:13px; 
		border: #5C5C5C;
		border-style: solid; 
		border-bottom-width: 1px; 
		border-left-width: 1px; 
		border-right-width: 1px; 
		border-top-width: 1px; 
		float:right; 
		margin-right:2px; 
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		color: #5C5C5C; 
		text-align:center;
		cursor:pointer;
	}
	
.navegacaoPrimeiraPagVertical
	{
		width:86px; 
		height:19px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/fundoNumeracaoblocoVertical.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
		position:absolute;
		bottom:18px;		
		z-index:3;
	}
	
.navegacaoPrimeiraPagVertical:hover
	{
		width:86px; 
		height:19px; 
		margin-left:3px; 
		margin-right:2px;		
		background-image: url(/images/fundoNumeracaoblocoVerticalHover.gif); 
		background-position:top; 
		background-repeat:no-repeat;
		cursor:pointer;
	}